<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        div hello index
        table
            tr
                each row in ["id", "username", "phone", "count", "type"]
                    th= row
            each row in data
                tr
                    each val in row
                        td= val